*{
    margin: 0;
    padding: 0;
}
body{
    background-color: azure;
}

/* Desktop First */

@media screen and (max-width: 1000px) {
    body{
        background-color: coral;
    }   
    .titulo{
        display: none;
    }
}

@media screen and (max-width: 701px) {
    body{
        background-color: aquamarine;
    }
    
}

@media screen and (max-width: 400px) and (min-width: 1px){
    body{
        background-color: blueviolet;
    }    
    .titulo{
        display: block;
    }
}